.products{
  height: 39rem;
  width: 20rem;
  gap: 50px;
  margin: 25px;
  padding: 10px;
 
}
.items{
  display: flex;
  flex-wrap: wrap;
}
.prosum{
  text-overflow: ellipsis;
  height: 3rem;
}
#pic{
  height: 20rem;
  width:20rem;
}